@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li>
<a class="nav-link text-dark" asp-controller="Car" asp-action="Add">Cars</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
      
}
else
{
        <style>
            .nav-link-group {
                display: flex; /* Displays the links horizontally */
            }

            .nav-link {
                margin-right: 5px; /* Adds spacing between the links */
            }
        </style>

        <li class="nav-item">
            <div class="nav-link-group">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </div>
        </li>
}
</ul>
